.container {
    margin: 0;
    width: 100%;
    height: 260px;
    max-width: 100%;
    /* background: url("../../assets/driver.png") center bottom; */
    background-size: cover;
    padding: 10px;
}

.container>.row {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    margin-top: 48px;
    border: 1px solid #eee;
}