<div class="container center-align grey darken-3" [hidden]="!loaded">
    <div class="row z-depth-1 grey lighten-5">
        <form [formGroup]="formLogin" class="col s12">
            <div class="row">
                <div class="col s12">
                    <i class="material-icons large grey-text text-darken-3">account_circle</i>
                    <!-- <img class="circle border" src="assets/ic-motorista.png" width="100"> -->
                    <p class="center-align"><strong>Painel de Login</strong></p>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input formControlName="email" class="validate" type="email" name="email" id="email">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input formControlName="password" class="validate" type="password" name="password" id="password">
                        <label for="password">Senha</label>
                    </div>
                </div>
                <div class="col s12 center-align">
                    <a (click)="forgotPassword()" class="grey-text text-darken-2"><strong><i class="fa fa-question-circle" aria-hidden="true"></i> Esqueci a senha</strong></a>
                </div>
            </div>
            <div class="row">
                <button class="col s12 btn btn-large waves-effect waves-light blue darken-2" (click)="login()">Entrar</button>
            </div>
            <div class="row">
                <button class="col s12 btn btn-large waves-effect waves-light" (click)="facebookLogin()">Facebook</button>
                <!-- <button class="btn waves-effect waves-light blue darken-2" (click)="create()">Create</button> -->
            </div>
        </form>
    </div>
</div>
<div class="bg-loader" [hidden]="loaded">
    <div class="holder-loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>