<nav class="blue" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center">Tibia Analyser</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="#"><i class="material-icons">menu</i></a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#"><i class="material-icons">menu</i></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        <!-- <login-page class="right"></login-page> -->
        <ul class="right hide-on-med-and-down">
            <li><a class="col s12 waves-effect waves-light right" (click)="logout()">Sair</a></li>
        </ul>
    </div>
    <!-- <div class="nav-wrapper"> -->
    <!-- </div> -->
</nav>

<!-- <div id="HeaderArtworkDiv" class="background"></div> -->

<hunt-page></hunt-page>


<!--<div class="container">
    <div class="section">

           Icon Section   
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Speeds up development</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>

                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across
                        all platforms allow for a more unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>
        </div>
    </div>
</div>-->

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text">Tibia Analyser</h5>
                <p class="grey-text text-lighten-4">Este projeto foi realizado de fãs para fãs.</p>
            </div>
            <!-- <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div> -->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="">Noboru</a>
        </div>
    </div>
</footer>