.background {
    background-image: url('http://static.tibia.com/images/global/header/background-artwork.jpg');
    background-repeat: no-repeat;
    background-color: #000f25;
    background-attachment: fixed;
    background-position: center;
    height: 70em;
    z-index: -1;
    position: relative;
    margin-bottom: -60em;
}