.padding-input {
    padding: 0 0.75rem !important;
}

label.padding-label.active {
    transform: translateY(-14px) scale(0.8) translateX(2px);
}

.main-bg-color {
    /* background-color: #fcedd9; */
}

.padding-15 {
    padding: 15px;
}