<main class="section no-pad-bot" id="index-banner">
    <div class="container main-bg-color">
        <h1 class="header center orange-text">Hunts</h1>
        <div class="row center">
            <h5 class="header col s12 light">Copie as informações do Hunt Analyser abaixo</h5>
        </div>

        <div class="row padding-15">
            <div class="row">
                <div class="input-field col s12">
                    <div class="padding-input">
                        <input id="name" type="text" class="validate" [(ngModel)]="huntName">
                        <label class="padding-label padding-input" for="name">Nome da Hunt</label>
                    </div>
                </div>
            </div>

            <form *ngFor="let hunt of huntForm; let i = index;" class="col s12" (ngSubmit)="onSubmit()" [formGroup]="huntForm[i]">
                <div>
                    <div class="row" *ngIf="true">
                        <div class="input-field col s12">
                            <select materialize="material_select" formControlName="char" [materializeSelectOptions]="characters" (change)="updateFields(i)">
                                <option value="" disabled selected></option>
                                <option *ngFor="let char of characters"  [ngValue]="char">{{char.name}}</option>
                            </select>
                            <label>Escolha o personagem</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input formControlName="char_name" id="char" type="text" class="validate">
                            <label for="char">Nome do Personagem</label>
                        </div>
                        <div class="input-field col s4">
                            <input formControlName="char_lvl" id="char_lvl" type="number" class="validate">
                            <label for="char_lvl">Level</label>
                        </div>
                        <div class="input-field col s4">
                            <select formControlName="char_voc" materialize="material_select">
                                <option value="" disabled selected></option>
                                <option value="ed">Elder Druid</option>
                                <option value="ek">Elite Knight</option>
                                <option value="ms">Master Sorcerer</option>
                                <option value="rp">Royal Paladin</option>
                            </select>
                            <label>Escolha a vocação</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea formControlName="hunt_info" class="materialize-textarea"></textarea>
                            <label for="hunt_info">Info do Hunt Analyser</label>
                        </div>
                    </div>
                </div>
            </form>
            <button *ngIf="huntForm.length > 1" class="btn btn-success red darken-2" (click)="removeChar();">Remover Personagem</button>
            <button class="btn btn-success blue darken-2" (click)="addChar();">Adicionar Personagem</button>
            <button type="submit" class="btn btn-success green darken-2" (click)="onSubmit();">Enviar</button>
        </div>

    </div>
</main>