<div class="display-inline-box fulldiv">
  <div class="fourHold">
    <h1 class="display-inline-box">404</h1>
  </div>
  <div class="display-inline-box moto"></div>
</div>
<h1 class="notfoundt">
  Página não encontrada :/
</h1>
