.container {
    margin: 0;
    width: 100%;
    height: 260px;
    max-width: 100%;
    /* background: url("../../assets/driver.png") center bottom; */
    background-size: cover;
    padding: 10px;
}

.container>.row {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    margin-top: 48px;
    border: 1px solid #eee;
}

.failCity {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.moto {
    left: 25%;
    position: inherit;
    width: 471px;
    height: 314px;
    /* background: url("../../assets/moto.png"); */
}

.display-inline-box {
    display: -webkit-inline-box;
}

.fulldiv {
    position: relative;
    margin-top: 130px;
    left: 30%;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    animation-name: example;
    animation-duration: 2s;
}

.fourHold {
    top: 60%;
    position: absolute;
    transform: rotate(-10deg);
    color: #919191;
    -webkit-animation-name: numero;
    -webkit-animation-duration: 3s;
    animation-name: numero;
    animation-duration: 3s;
}

.notfoundt {
    left: 28%;
    color: #545454;
    position: relative;
    display: table;
}

@keyframes example {
    0% {
        left: -55%;
    }
    90% {
        left: 40%;
    }
    100% {
        left: 30%;
    }
}

@keyframes numero {
    70% {
        transform: rotate(-21deg);
    }
    75% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}